html,body{
	
	background-image: url(image.png);



}

.inner{
	width: 80% ;
	margin: auto;
}


.menu{
	width: 100% ;
	height: 67px ; 
margin-top: 20px;


}
.logo{

margin: 0;
	padding: 0;
color: #fff;
}
.gauche{
	float: left;
}

.droite{

	float: right;
}

.lien{
	text-decoration: none;
	color: #fff;
	font-weight: 650;
	margin: 0;
	padding: 0 8px;
}


.centre{

text-align: center;
margin-top: 10% ;
margin-bottom: 10% ;
color: #fff

}





.flex-container {
  display: flex;
  justify-content: space-between;
  margin: 10%;
  margin-bottom: 4% ;
  color: #fff
  
}

.btn{
	margin-bottom: 80%;
}

.boutton{
	color: #66CC99;
	border-color: #66CC99;
	padding: 12px 36px;
border-style: solid;
border-radius: 40px;
text-transform: uppercase;

}